*{margin: 0%;
padding: 0%;
box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: aqua;
}
h1{
    align-items: center;
    text-align: center;
    font-size: 50px;
    padding-bottom: 10%;
}
table{
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    border: 100px;
    border-color: black;
    align-items: center;
}
.button1{
    padding-left: 50%;
    padding-top: 2%;
}
button1,input{
    color: rgb(4, 3, 3);
    background-color: rgb(233, 0, 0);
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    padding: 3%;
    padding-left: 4%;
    padding-right: 4%;
}